<html>
  <head>
    <title><%= user.vorname %></title>
              <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="styleproducts.css" type="text/css" rel="stylesheet" / > 
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"> </script>
    <script type="text/javascript">
      function ref() {
        window.location.href = "./basket";
        return true;
      }

      function buy() {
        var id = <%- JSON.stringify(user._id) %>;
        alert(id);
        $.ajax({
            async: true,
            host: "localhost",
            port: 3001,
            url: '/bill/' + id,
            type: 'post',
            success: function(data){
              alert(data);
                var neu = data.substr(1, data.length-2);
                window.location.href = 'http://localhost:3001/bill/' + neu;
            }
        });
      };
    </script>
   
  </head>
  <body>
             <nav class="navbar navbar-default">
      <div class="container-fluid">

        <!-- logo -->
        <div class="navbar-header">
          <a href="#" class="navbar-brand">INTERNET SHOP</a>
        </div>

        <!-- menu items -->
        <div>
          <ul class="nav navbar-nav">
            <li ><a href="<%- user._id%>/basket" id="warenkorb">Warenkorb</a></li>
            <li> <a href="http://localhost:3001/users/<%- user._id%>">Profil</a></li>
            <li> <a href="http://localhost:3001/logic/<%- user._id%>">meist gekaufte Produkte</a></li>
            <li> <form id="form" style="margin-left:20px;margin-top:12px;">
      <input type="text" id="produkt" size="40" placeholder="Produkt" required>
      <input type="submit" id="sub" value="Suchen" onClick="suche();">
    </form> </li>
          </ul>
        </div>
      </div>
    </nav>
      
    <div class="container-fluid">


    <div class="row">
      <div class="col-md-1" ></div>
      <div class="col-md-10" id="inhalt">
     
        <h1>Warenkorb von Herr <%= user.nachname %></h1><br>
    <input type="button" value="Seite aktualisieren" onCLick="ref();">
     <ul>
      <% for(var i = 0; i<user.basket.length;i++){
          %>
          <form action="basket/<%- user.basket[i]._id %>" method="POST" target="hiddenFrame">
          <h2>Artikel <%= i+1 %> </h2>
          <li><%= user.basket[i].produkt %></li>
          <li><%= user.basket[i].herkunft %></li>
          <li><%= user.basket[i].hersteller %></li>
          <li><%= user.basket[i].preis %></li>
          <input type="submit" value="aus Warenkorb entfernen" class="sub">
          </form>
          <%
          }
          %>
    </ul>
  <input type="submit" id="u" value="kaufen!" onClick="buy();return false;">
  <form action="http://localhost:3001/products/<%- user._id %>/basket" method="POST" target="hiddenFrame">
    <input type="submit" value="den ganzen Warenkorb entfernen" class="subs">
  </form>
  <a href="http://localhost:3001/products/<%-user._id%>">Produkte</a>
  <iframe name="hiddenFrame" width="0" height="0" border="0" style="display: none;"></iframe>
    
       
   </div>

  <div class="col-md-1" ></div>




    
  </body>
</html>
