<html>
  <head>
    <title><%= user.vorname %></title>
              <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"> </script>
    <script type="text/javascript">

      function feuer(){
        var id = <%- JSON.stringify(user._id) %>;
        alert(id);
        $.ajax({
            async: true,
            host: "localhost",
            port: 3001,
            url: '/users/' + id,
            type: 'delete',        
            success: function(data){
              if(data==404) alert("Nutzer existiert nicht!");
              else {
                alert("Auf Wiedersehen!");
                window.location.href = 'http://localhost:3001/start';
              }
            }
        });
      };
            
      function put() {
        var u = new Object();
        var id = <%- JSON.stringify(user._id) %>;
        u.vorname=$("#vorname").val();
        u.nachname=$("#nachname").val();
        u.password= <%- JSON.stringify(user.password) %>;
        u.strasse=$("#strasse").val();
        u.nr=$("#nr").val();
        u.stadt=$("#stadt").val();
        u.plz=$("#plz").val();
        u.user_name=$("#user").val();
        
        if(u.vorname == "") {
          u.vorname = <%- JSON.stringify(user.vorname) %>;
        }
        if(u.nachname == "") {
          u.nachname = <%- JSON.stringify(user.nachname) %>;
        }
        if(u.strasse == "") {
          u.strasse = <%- JSON.stringify(user.strasse) %>;
        }
        if(u.nr == "") {
          u.nr = <%- JSON.stringify(user.nr) %>;
        }
        if(u.stadt == "") {
          u.stadt = <%- JSON.stringify(user.stadt) %>;
        }
        if(u.plz == "") {
          u.plz = <%- JSON.stringify(user.plz) %>;
        }
        if(u.user_name == "") {
          u.user_name = <%- JSON.stringify(user.user_name) %>;
        }
   
        $.ajax({
            host: "localhost",
            port: 3001,
            url: '/users/' + id,
            dataType: 'json',
            type: 'put',
            contentType: 'application/json',
            data: JSON.stringify(u),
            success: function(data){
              if(data==201) alert("User existiert nicht!");
              else {
                alert("Useränderung erfolgreich");
                window.location.href = 'http://localhost:3001/users/' + id;
              }
            }
        });
      };
    </script>
  </head>
  <body>
           <nav class="navbar navbar-default">
      <div class="container-fluid">

        <!-- logo -->
        <div class="navbar-header">
          <a href="#" class="navbar-brand">INTERNET SHOP</a>
        </div>

        <!-- menu items -->
        <div>
          <ul class="nav navbar-nav">
            <li ><a href="http://localhost:3001/products/<%- user._id%>/basket" id="warenkorb">Warenkorb</a></li>
            <li> <a href="http://localhost:3001/users/<%- user._id%>">Profil</a></li>
            <li> <a href="http://localhost:3001/logic/<%- user._id%>">meist gekaufte Produkte</a></li>
            <li> <form id="form" style="margin-left:20px;margin-top:12px;">
      <input type="text" id="produkt" size="40" placeholder="Produkt" required>
      <input type="submit" id="sub" value="Suchen" onClick="suche();">
    </form> </li>
          </ul>
        </div>
      </div>
    </nav>
      
    <div class="container-fluid">


    <div class="row">
      <div class="col-md-1" ></div>
      <div class="col-md-10" id="inhalt">
   
      <h1>Profil von Herr <%= user.nachname %></h1>
    <form id="form">
          <%= user.vorname %><input type="text" id="vorname" size="20"><br>
          <%= user.nachname %><input type="text" id="nachname" size="20"><br>
         <%= user.strasse %>, <%= user.nr %><input type="text" id="strasse" size="20"><br><input type="text" id="nr" size="10"><br>
          <%= user.plz %> <%= user.stadt %><input type="text" id="plz" size="10"><br><input type="text" id="stadt" size="10"><br>
          <%= user.user_name%><input type="text" id="user" size="20"><br>
          Passwort: ********
          <input type="submit" id="s" value="aktualisieren" onClick="put(); return false;">
          <input type="submit" id="sub" value="User entfernen!" onClick="feuer();return false;" ><br><br>
    </form>       

     <a href="http://localhost:3001/products/<%-user._id%>">Produkte</a>
   </div>

  <div class="col-md-1" ></div>



 
  </body>
</html>
