<html>
  <head>
    <title><%= user.vorname %></title>
         <meta http-equiv="content-type" content="text/html; charset=utf-8">

  </head>
  <body>
    <h1>Profil von Herr <%= user.nachname %></h1>
    <ul>
          <li><%= user.nachname %></li>
          <li><%= user.nachname %></li>
          <li><%= user.nachname %></li>
    </ul>
    <form>
    Email:
    <input type="text" id="email">
    <input type="submit" id="sub1" value="Aendern">
    </form>
  </body>
</html>
